/blocks/frame/rinforzo_MISURE.dxf
/cad/4_points_only_bed_version/P3Steel_exploded.dxf
/cad/3_or_4_points_bed_version/P3Steel_exploded.dxf
/cad/P3Steel_VECCHIA_VERSIONE.dxf
/cad/VERSIONE_per_MICHELE/*
